/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: "Roboto Mono", monospace;
}

p {
    color: black;
    padding: 10px;
}

/* Header */
header {
    background-color: black;
    color: #ffffff;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    text-align: center;
}

#logo {
    display: inline-flex;
    letter-spacing: 2px;
    line-height: 1;
    border-top: 5px solid;
    border-bottom: 5px solid;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Nav */
nav>a:hover {
    background-color: darkred;
}

/* Main Content */
main {
    margin-top: 64px;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Hero Section */
#hero {
    height: 1080px;
    width: 100%;
    background: url(../images/muse-matthew-bellamy-live.jpg) no-repeat 70% center/cover;
    position: relative;
}

/* Intro Section */
#intro {
    background-color: #fbfbfb;
}

#intro-image-span {
    display: flex;
    justify-content: center;
}

#intro-image {
    width: 100%;
    max-width: 640px;
    box-shadow: 2px 2px 4px #3a3a3a;
}

/* Footer */
#social-networks {
    background-color: black;
    text-align: right;
    padding: 5px;
    display: flex;
    justify-content: right;
    list-style-type: none;
    gap: 5px;
}

#social-networks i {
    font-size: 200%;
    color: white;
}

/* Media query: Tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Intro section */
    #intro-image-span {
        display: block;
    }

    #intro-image {
        width: 320px;
        float: left;
        margin: 10px;
    }
}