/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: "Roboto Mono", monospace;
}

/* Header */
header {
    background-color: black;
    color: #ffffff;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    text-align: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Nav */
nav > a:hover {
    background-color: darkred;
}

/* Main Content */
main {
    background-color: lightgray;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: black;
    color: #ffffff;
}